@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'UTM Avo';
  src: url('/fonts/UTM Avo.ttf');
}

.fontATM {
  font-family: 'UTM Avo', sans-serif;
}

@font-face {
  font-family: 'PBold';
  src: url('/fonts/shopee2021-bold.ttf');
}

.fntPBold {
  font-family: 'PBold', sans-serif;
}

@font-face {
  font-family: 'PRegular';
  src: url('/fonts/shopee2021-regular.ttf');
}

.fntPRegular {
  font-family: 'PRegular', sans-serif;
}

@font-face {
  font-family: 'PLight';
  src: url('/fonts/shopee2021-light.ttf');
}

.fntPLight {
  font-family: 'PLight', sans-serif;
}

@font-face {
  font-family: 'FCong';
  src: url('/fonts/VL_Lovepen Regular.otf');
}

.fntFCong {
  font-family: 'FCong', sans-serif;
}

body {
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.bgType1 {
  background: url('/img/bg-h-page1.jpg');
}

.bgType2 {
  background: url('/img/bg-h-page2.jpg');
}

.sliderNewInner {
  .swiper-button-prev {
    @apply left-[-45px] max-sm:left-[-30px];
  }

  .swiper-button-prev:after {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 20px solid #c44b57;
    border-bottom: 15px solid transparent;
    content: '';
  }

  .swiper-button-next {
    @apply right-[-45px] max-sm:right-[-30px];
  }

  .swiper-button-next:after {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid #c44b57;
    border-bottom: 15px solid transparent;
    content: '';
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 21px);
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
  }
}

.mySwiper {
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
  }

  .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 16px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 16px));
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 100%);
    background: var(--swiper-pagination-bullet-inactive-color, #fff);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.7);
  }
}

/** scss **/
.myHeader {
  @apply w-full bg-white xl:justify-center xl:flex;
}

.headerInner {
  @apply xl:h-[71px] xl:w-[1400px] justify-center xl:justify-between flex items-center h-[115px] max-sm:h-[80px];
}

.logo {
  @apply w-[228px] max-sm:h-[35px] max-sm:w-auto h-auto;
}

.navTop {
  @apply xl:h-auto xl:w-[870px] xl:static h-[115px] max-sm:h-[80px] absolute left-0 top-0 z-50 max-xl:group-[.activeMn]:h-[480vh] max-xl:group-[.activeMn]:w-full max-xl:group-[.activeMn]:bg-white;
}

.menuHumber {
  @apply xl:hidden h-[115px] max-sm:h-[80px] flex items-center;
}

.menuArea {
  @apply space-y-[13px] block p-[20px] max-sm:space-y-[7px];
}

.menuHumberLine {
  @apply block w-[77px] h-[11px] bg-gray-600 rounded-full max-sm:w-[50px] max-sm:h-[8px];
}

.navLinkArea {
  @apply hidden xl:flex items-center justify-between fontATM text-[17px] text-[#686868] flex-wrap xl:flex-nowrap xl:ml-0 group-[.activeMn]:flex;
}
.navLink {
  @apply xl:h-[100%] xl:border-none flex uppercase text-[#686868] w-full xl:w-auto h-[53px] items-center border-t-[1px] pl-[30px] xl:pl-0;
}
.navSpe{
  @apply hidden xl:inline;
}

.mIconTop{
  @apply xl:hidden absolute right-0 top-0 flex h-[115px] max-sm:h-[80px] items-center w-[164px] max-sm:w-[88px] justify-between mr-[20px] max-sm:mr-[20px] ;
  a img {
    @apply w-[73px] h-[73px] max-sm:h-[40px] max-sm:w-[40px];
  }
}

/** search ***/
.searchArea {
  @apply xl:flex hidden;
}
.searchBox {
  @apply  border-[1px] border-[#b03a48] h-[30.01px] w-[150.01px] rounded-lg flex items-center;
}
.searchInput {
  @apply w-full h-full border-none outline-none rounded-lg pl-[8px];
}
.searchIcon {
  @apply w-[19.008px] h-[19.008px] block ml-[8px] mr-[18px];
}

/** Slide show main **/
.slideMain {
  @apply xl:h-[589.997px] h-[240px] max-xl:h-[340px] bg-slate-300;
}

/** body **/
.areaBox {
  @apply relative flex justify-center w-full;
}
.area1Inner {
  @apply xl:w-[1400px]  xl:py-[90px] py-14 flex justify-between flex-wrap xl:flex-row flex-col-reverse overflow-hidden;
}

.area1 {
  @apply xl:w-[calc(100%-759.994px)] justify-center xl:justify-start;
}
.area1Header{
  @apply flex justify-center xl:justify-start;
}
.area1Icon {
  @apply xl:h-[47.002px] xl:w-[24.998px] xl:mr-[12px] h-[47px] w-[25px] bg-[#b03a48] xl:block hidden;
}
.area1Head {
  @apply xl:h-[47.002px] xl:px-[30.01px] xl:text-[30.01px] text-[15.79px] px-[18px] h-[25px] flex items-center content-center flex-wrap bg-[#b03a48]  text-[#fff] uppercase;
}
.area1Content {
  @apply xl:pt-[39.994px] xl:w-auto xl:pr-0 pt-[30px] mx-auto  xl:text-[20px] text-[15px] xl:pl-[38px] px-[20px];
}
.area1ContentMain {
  @apply line-clamp-8 mb-5 text-justify;
}
.btnReadMore {
  @apply max-xl:text-center;
  a {
    @apply text-[#b03a48] text-[15px] uppercase hover:text-red-500;
  }
}
.specialText{
  @apply xl:flex hidden text-[70px];
}
.sliderNew {
  @apply xl:w-[759.994px] flex justify-center mb-[26px] xl:mb-[0px];
}
.sliderNewInner {
  @apply w-[560.006px] h-[420px] max-xl:w-[600px] max-xl:h-[350px] max-sm:w-[320px] max-sm:h-[200px] relative;
}
.mySwiper2{
  @apply  border-[#c44b57] border-[4px];
}

/** area 2 **/
.aboutUsZone{
  @apply xl:w-[1400px] flex justify-center flex-wrap overflow-hidden py-[90px];
}


.aboutUsImg_content {
  @apply xl:w-[700px] xl:justify-start flex justify-center mb-[26px] xl:mb-0 xl:relative pl-[50px] max-xl:pl-0;
}
.aboutUsImg_img1{
  @apply w-[698px] h-[543px] max-xl:w-[604px] max-xl:h-auto max-sm:w-[90%] max-sm:h-auto object-cover mx-auto;
}
// .aboutUsImg_img2 {
//   @apply xl:w-[263px] xl:h-[263px] absolute xl:top-[270.01px] xl:left-[425px] border-[#fff] border-[5px] z-10 hidden xl:block;
// }
.area2Head {
  @apply xl:w-[calc(100%-699.994px)] xl:justify-end xl:pt-[70px] justify-center;
  .specialText {
    @apply justify-end pt-5;
  }
}
.area2HeadContent{
  @apply flex justify-center xl:justify-end;
}
.area2Text {
  @apply xl:h-[47px] xl:px-[30px] xl:text-[30px] text-[16px] px-[18px] h-[25px] flex items-center content-center flex-wrap bg-[#b03a48]  text-[#fff] uppercase ;
}
.area2Icon {
  @apply xl:h-[47px] xl:w-[25px] xl:ml-[12px] h-[47px] w-[25px] bg-[#b03a48] xl:block hidden
}
.area2Content{
  @apply xl:pt-[40px] xl:mr-[15px] xl:w-auto xl:text-right xl:pl-[90px] pt-[30px]  mx-auto fntPRegular xl:text-[20px] text-[15px] px-[20px] text-justify;
}

.area3Zone{
  @apply xl:w-[1400px] xl:py-[90px] py-14 flex justify-center flex-wrap overflow-hidden;
}
.area3Box {
  @apply flex justify-center flex-wrap w-full;
}

.area3Head{
  @apply xl:block flex justify-center flex-wrap;
}

.area3Title{
  @apply xl:h-[47px] xl:px-[30px] xl:text-[30px] xl:mb-[32px] mb-[16px] text-[16px] px-[18px] h-[25px] inline-flex items-center content-center flex-wrap bg-[#b03a48]  text-[#fff] uppercase;
}

.area3Text {
  @apply text-[15px] xl:text-[20px] w-full text-center;
}

.listProducts {
  @apply flex flex-wrap xl:justify-center xl:space-x-[50px] justify-center items-center pt-[28px] xl:w-full px-[20px];
}

.productItem {
  @apply xl:w-[230px] w-[183px] flex justify-center flex-wrap mb-[30px] xl:mx-0;
  > img{
    @apply bg-white xl:border-[2px] border-[#515254] xl:p-[13px] xl:w-[178px] xl:h-[178px] p-[7px] w-[130px] h-[130px] border-[1px] object-cover hover:saturate-200;
  }
  h3{
    @apply w-full text-center xl:text-[12px] text-[12px] xl:h-[50px] flex justify-center items-center xl:pt-[20px] xl:pb-[20px] pt-[20px] pb-[8px] hover:text-red-600;
  }
}


.productBorder {
  @apply flex justify-center items-center;
  span {
    @apply xl:w-[60px] w-[50px] h-[1px] bg-[#b03a48];
  }
  img{
    @apply xl:w-[11px] xl:h-[12px] xl:mx-[6px] w-[8px] h-[10px] mx-[6px];
  }
}

/** area 4 **/
.area4Zone{
  @apply xl:w-[1400px] py-[90px] flex justify-center flex-wrap overflow-hidden max-xl:px-14 max-sm:px-3;
  .area3Head{
    @apply mb-[28px];
  }
}

.area4Box{
  @apply w-full;
}
.customerItem.swiper-slide {
  @apply xl:w-[263px] xl:mb-0 mb-[30px] max-xl:mx-10 max-sm:w-[130px] max-sm:mx-2 bg-none flex-wrap;
}
.swiper-slide .customerImg {
  @apply xl:w-[263px] xl:h-[263px] xl:mb-[22px] max-sm:w-[100px] max-sm:h-[100px] w-[153px] h-[153px] xl:p-[13px] p-[6px] mb-[22px] border-[#b33c4a] xl:border-[2px] border-[1px] bg-white rounded-full object-cover object-top;
}
.customerName{
  @apply xl:w-[263px] w-[153px] max-sm:w-[100px] flex bg-white justify-center items-center relative  border-[#b33c4a] border-[1px];
  img{
    @apply absolute xl:top-[-10px] xl:left-[calc(50%-10px)] xl:w-[14px] xl:h-[16px] w-[10px] h-[10px] left-[calc(50%-5px)] top-[-5px];
  }
  .hideBg{
    @apply  border-[#fbbec8] border-[1px] absolute top-[-1px] w-[10px] xl:left-[calc(50%-20px)] left-[calc(50%-14.999px)];
  }
  .hideBg:last-child{
    @apply  xl:left-[calc(50%+3px)] left-[calc(50%+5px)];
  }
}
.customerNameText {
  @apply xl:text-[22px] text-[12.004px] text-[#b33c4a] text-center uppercase flex justify-center items-center xl:py-[5px] xl:px-[5px] py-[5px] px-[5px]; 
}

/** zone5**/
.area5Zone {
  @apply w-[1400px] py-[90px] max-xl:h-auto max-xl:py-[30px] flex justify-center flex-wrap overflow-hidden;
  .area3Head {
    @apply mb-20 max-xl:mb-5;
  }
}

.feedbackBox {
  @apply flex justify-between flex-wrap w-full max-xl:justify-center max-xl:pt-[50px] max-xl:space-x-10 max-sm:space-x-0 ;
}

.feedbackItem{
  @apply w-[376px] max-xl:w-[320px] pt-[79px] pb-[30px] px-[20px] border-[#515254] border-[2px] relative text-center max-xl:mb-[80px];
  &:last-child{
    @apply max-md:ml-0 #{!important};
  }
  .productBorder{
    @apply pt-5 pb-5;
    img{
      @apply w-[14px] h-[14px];
    }
    span{
      @apply w-[135px];
    }
  }
}

.feedbackImg {
  @apply border-[#515254] border-[2px] bg-white p-[8px] absolute top-[-41px] left-[calc(50%-41px)] object-cover object-top;
}
.feedbackText {
  @apply text-justify;
}

.area6Zone{
  @apply w-[1400px] max-xl:w-auto flex justify-center flex-wrap overflow-hidden py-[50px];
  .area2Text{
    @apply hover:opacity-60;
  }
}

.trainZone{
  @apply xl:w-[1400px] flex justify-center flex-wrap overflow-hidden w-full max-xl:py-20 max-xl:flex-col-reverse;
  .trainImg_content{
    @apply pl-0 max-xl:flex max-xl:justify-center max-xl:mb-10;
  }
  .trainImg {
    @apply max-xl:w-[80%] max-xl:h-[400px] max-sm:h-[300px] object-cover object-top;
  }
  .area2Head {
    @apply py-20 max-xl:pt-0 ;
  }
  .area2Content {
    @apply text-justify pl-10 pr-32 max-xl:pr-20 max-xl:pl-20 max-sm:pr-5 max-sm:pl-5;
  }
}


.footer{
  @apply flex items-center justify-center flex-wrap bg-gradient-to-b from-[#4b4b4b] to-[#252626];
}
.footerBox {
  @apply w-[1400px] max-xl:w-auto flex items-center justify-center flex-wrap py-[80px] max-xl:py-[50px];
}

.footerLogo{
  @apply w-[310px] max-xl:w-[200px] max-xl:mb-[40px];
}

.boxContact{
  @apply flex justify-start flex-wrap w-[700px] pl-[120px] max-xl:w-full max-xl:pl-[20px];
}
.contactItem {
  @apply w-full flex items-center text-white text-[22px] mb-[22px] max-xl:w-[50%] max-xl:px-[20px] max-sm:w-full max-xl:text-[15px];
  img{
    @apply mr-[23px] max-xl:w-[40px];
  }
}


/** New page**/
.areaIntro {
  @apply w-[1400px] max-xl:w-full max-xl:h-auto flex justify-between max-xl:justify-evenly max-xl:py-10 items-center flex-wrap py-20;
}
.introItem {
  @apply w-[250px] h-[620px] xl:mx-0 mx-5 max-sm:w-[320px] max-sm:h-auto max-sm:py-4 border-[2px] border-[#b33d4a] flex justify-center items-center flex-wrap max-xl:mb-10;
}
.introBorder{
  @apply w-[230px] h-[598px] max-sm:w-[290px]  max-sm:h-auto border-[1px] border-[#b33d4a] py-[30px] overflow-hidden;
  h3{
    @apply text-[18px] text-[#b33d4a] w-full text-center uppercase group-hover:text-opacity-80;
  }
  .productBorder {
    @apply pt-[6px] pb-[10px];
    img { @apply w-[6px] h-[6px]; }
    span { @apply w-[80px] h-[2px]; }
  }
}
.introImg img{
  @apply w-[180px] h-[180px] border-[1px] border-[#b33d4a] mx-auto object-cover group-hover:saturate-200 transition-all;
}
.introContent {
  @apply text-[15px] px-[15px] py-[20px] text-justify;
}

.bgNotFound{
  @apply bg-[url('/img/404.webp')] bg-no-repeat bg-cover bg-center w-full h-[100vh];
}


/**** About detail ****/
.aboutDetail {
  @apply w-full flex justify-center items-center flex-wrap py-[100px] bg-[url('/img/bg-about-us.webp')];
}
.aboutDetailMain {
  @apply w-[1200px] max-xl:w-full flex justify-between flex-wrap max-xl:justify-center;
}
.aboutDt_grouphead {
  @apply w-full flex justify-between items-center flex-wrap mb-5;
}
.aboutDtImg {
  @apply w-[604] h-[608] max-xl:w-[300px] max-xl:h-[300px] object-cover;
}
.aboutDt_box1 {
  @apply w-[calc(100%-604px)] pl-[36px];
}
.aboutDtPage {
  @apply bg-[#b33d4a] text-white h-[27px] leading-[27px] inline-flex px-[10px] uppercase;
}
.aboutDt_Title {
  @apply text-[58px] text-[#515254] py-5;
}
.aboutDt_content1 {
  @apply text-[20px];
}
.aboutDt_content2 {
  @apply text-[20px];
}
.signalText {
  @apply py-10 text-[102px];
}
.aboutDt_content3 {
  @apply mb-10;
}
.aboutDt_content3-detail{
  @apply mb-20;
}
.ceoImg {
  @apply float-right ml-5;
}
.aboutDt_bottom {
  @apply w-full flex justify-between items-center flex-wrap;
  img {
    @apply p-[13px] border-[#515254] border-[2px] bg-white object-cover;
  }
}