@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'UTM Avo';
  src: url('/fonts/UTM Avo.ttf');
}

.fontATM {
  font-family: 'UTM Avo', sans-serif;
}

@font-face {
  font-family: 'PBold';
  src: url('/fonts/shopee2021-bold.ttf');
}

.fntPBold {
  font-family: 'PBold', sans-serif;
}

@font-face {
  font-family: 'PRegular';
  src: url('/shopee2021-regular.ttf');
}

.fntPRegular {
  font-family: 'PRegular', sans-serif;
}

@font-face {
  font-family: 'FCong';
  src: url('/fonts/VL_Lovepen Regular.otf');
}

.fntFCong {
  font-family: 'FCong', sans-serif;
}

body {
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bgType1 {
  background: url('/img/bg-h-page1.jpg');
}

.bgType2 {
  background: url('/img/bg-h-page2.jpg');
}

.sliderNewInner {
  .swiper-button-prev {
    left: -45px;
  }

  .swiper-button-prev:after {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 20px solid #c44b57;
    border-bottom: 15px solid transparent;
    content: '';
  }

  .swiper-button-next {
    right: -45px;
  }

  .swiper-button-next:after {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid #c44b57;
    border-bottom: 15px solid transparent;
    content: '';
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 21px);
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
  }
}

.mySwiper {
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
  }

  .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 16px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 16px));
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 100%);
    background: var(--swiper-pagination-bullet-inactive-color, #fff);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.7);
  }
}

/** scss **/
.myHeader {
  @apply w-full bg-white xl:justify-center xl:flex;
}

.headerInner {
  @apply xl:h-[3.698vw] xl:w-[72.917vw] justify-center xl:justify-between flex items-center h-[14.974vw];
}

.logo {
  @apply xl:w-[11.875vw] xl:h-[2.083vw] w-[32.552vw] h-auto;
}

.navTop {
  @apply xl:h-auto xl:w-[45.313vw] xl:static h-[14.974vw] absolute left-0 top-0 z-50 group-[.activeMn]:h-[156.251vw] group-[.activeMn]:w-full group-[.activeMn]:bg-white;
}

.menuHumber {
  @apply xl:hidden h-[14.974vw] flex items-center;
}

.menuArea {
  @apply space-y-[1.693vw] block p-[2.604vw];
}

.menuHumberLine {
  @apply block w-[10.8vw] h-[1.432vw] bg-gray-600 rounded-full;
}

.navLinkArea {
  @apply hidden xl:flex items-center justify-between fontATM text-[17px] text-[#686868] flex-wrap xl:flex-nowrap xl:ml-0 group-[.activeMn]:flex;
}
.navLink {
  @apply xl:h-[100%] xl:border-none flex uppercase text-[#686868] w-full xl:w-auto h-[6.836vw] items-center border-t-[1px] pl-[3.906vw] xl:pl-[0px];
}
.navSpe{
  @apply hidden xl:inline;
}

.mIconTop{
  @apply xl:hidden absolute right-0 top-0 flex h-[14.974vw] items-center w-[21.354vw] justify-between mr-[2.604vw];
  a img {
    @apply w-[9.505vw] h-[9.505vw];
  }
}

/** search ***/
.searchArea {
  @apply xl:flex hidden;
}
.searchBox {
  @apply  border-[1px] border-[#b03a48] h-[1.563vw] w-[7.813vw] rounded-lg flex items-center;
}
.searchInput {
  @apply w-full h-full border-none outline-none rounded-lg pl-[8px];
}
.searchIcon {
  @apply w-[0.99vw] h-[0.99vw] block ml-[8px] mr-[18px];
}

/** Slide show main **/
.slideMain {
  @apply xl:h-[30.729vw] h-[31.25vw] bg-slate-300;
}

/** body **/
.areaBox {
  @apply relative flex justify-center w-full;
}
.area1Inner {
  @apply xl:w-[72.917vw]  xl:h-[37.5vw] xl:py-[7.292vw] py-[3.907vw] flex justify-between flex-wrap xl:flex-row flex-col-reverse overflow-hidden;
}

.area1 {
  @apply xl:w-[calc(100%-39.583vw)] justify-center xl:justify-start;
}
.area1Header{
  @apply flex justify-center xl:justify-start;
}
.area1Icon {
  @apply xl:h-[2.448vw] xl:w-[1.302vw] xl:mr-[0.625vw] h-[47px] w-[25px] bg-[#b03a48] xl:block hidden;
}
.area1Head {
  @apply xl:h-[2.448vw] xl:px-[1.563vw] xl:text-[1.563vw] text-[2.056vw] px-[2.344vw] h-[3.255vw] flex items-center content-center flex-wrap bg-[#b03a48]  text-[#fff] uppercase;
}
.area1Content {
  @apply xl:pt-[2.083vw] xl:w-auto xl:pr-[30px] pt-[3.906vw] w-[70%]  mx-auto  xl:text-[1.042vw] text-[1.563vw];
}
.specialText{
  @apply xl:flex hidden text-[3.646vw] py-[1.042vw];
}
.sliderNew {
  @apply xl:w-[39.583vw] flex justify-center mb-[25.999px] xl:mb-[0px];
}
.sliderNewInner {
  @apply xl:w-[29.167vw] xl:h-[21.875vw] w-[61.197vw] h-[45.573vw] relative;
}
.mySwiper2{
  @apply  border-[#c44b57] border-[0.488vw];
}

/** area 2 **/
.aboutUsImg{
  @apply xl:w-[72.917vw] xl:h-[40.469vw] xl:py-[6.354vw] py-[3.906vw] flex justify-center flex-wrap overflow-hidden;
}

.aboutUsImg_content {
  @apply xl:w-[36.458vw] xl:justify-start flex justify-center mb-[26px] xl:mb-0 xl:relative;
}
.aboutUsImg_img1{
  @apply xl:w-[31.771vw] xl:h-[23.438vw] w-[61.458vw] h-auto border-[#b33c4a] border-[0.26vw] bg-white p-[1.042vw];
}
.aboutUsImg_img2 {
  @apply xl:w-[13.698vw] xl:h-[13.698vw] absolute xl:top-[14.063vw] xl:left-[22.135vw] border-[#fff] border-[5px] z-10 hidden xl:block;
}
.area2Head {
  @apply xl:w-[calc(100%-36.458vw)] xl:justify-end xl:pt-[70px] justify-center;
}
.area2HeadContent{
  @apply flex justify-center xl:justify-end;
}
.area2Text {
  @apply xl:h-[2.448vw] xl:px-[1.563vw] xl:text-[1.563vw] text-[2.056vw] px-[2.344vw] h-[3.255vw] flex items-center content-center flex-wrap bg-[#b03a48]  text-[#fff] uppercase ;
}
.area2Icon {
  @apply xl:h-[2.448vw] xl:w-[1.302vw] xl:ml-[0.625vw] h-[47px] w-[25px] bg-[#b03a48] xl:block hidden
}
.area2Content{
  @apply xl:pt-[2.083vw] xl:mr-[1.85vw] xl:w-auto xl:text-right xl:pl-[90px] pt-[3.906vw] w-[70%]  mx-auto fntPRegular xl:text-[1.042vw] text-[1.563vw];
}

.area3Zone{
  @apply xl:w-[72.917vw] xl:h-[37.5vw] xl:py-[7.5vw] py-[3.906vw] flex justify-center flex-wrap overflow-hidden;
}
.area3Box {
  @apply flex justify-center flex-wrap w-full;
}

.area3Title{
  @apply xl:h-[2.448vw] xl:px-[1.563vw] xl:text-[1.563vw] xl:mb-[1.667vw] mb-[16px] text-[2.056vw] px-[2.344vw] h-[3.255vw] inline-flex items-center content-center flex-wrap bg-[#b03a48]  text-[#fff] uppercase;
}

.area3Text {
  @apply text-[1.563vw] xl:text-[1.042vw];
}

.listProducts {
  @apply flex flex-wrap xl:justify-between justify-center items-center pt-[3.594vw] xl:w-full  w-[70%];
}

.productItem {
  @apply block justify-center flex-wrap xl:mb-0 mb-[3.906vw] xl:mx-0 mx-[3.255vw];
  > img{
    @apply bg-white xl:border-[2px] border-[#515254] xl:p-[0.677vw] xl:w-[9.271vw] xl:h-[9.271vw] p-[0.911vw] w-[16.406vw] h-[16.406vw] border-[1px];
  }
  h3{
    @apply text-center text-[0.649vw] xl:pt-[24px] xl:pb-[11px] pt-[24px] pb-[11px];
  }
}
.productItem:first-child{
  @apply ml-[50px] xl:mx-0;
}
.productItem:nth-child(2){
  @apply mr-[50px] xl:mx-0;
}

.productBorder {
  @apply flex justify-center items-center;
  span {
    @apply xl:w-[60px] w-[35px] h-[1px] bg-[#b03a48];
  }
  img{
    @apply xl:w-[11px] xl:h-[12px] xl:mx-[6px] w-[8px] h-[10px] mx-[6px];
  }
}
