@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "UTM Avo";
  src: url('/fonts/UTM Avo.ttf');
}

.fontATM {
  font-family: "UTM Avo", sans-serif;
}

body {
  
}



